/* general */
* {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  box-sizing: border-box;
}

*::-webkit-scrollbar {
  display: none;
}

:root {
  --primary-color: #FFB7C5;
  --background-color: white;
  --text-color: black;
  --gray-like-color: rgb(229, 229, 229);
  --strong-gray-color: gray;
  --icon-filter: invert(0%) sepia(8%) saturate(7491%) hue-rotate(179deg) brightness(100%) contrast(100%);
  --primary-color-filter: invert(71%) sepia(20%) saturate(1192%) hue-rotate(307deg) brightness(120%) contrast(102%);
  --hover-color: rgb(222, 222, 222);

  @media (prefers-color-scheme: dark) {
    --background-color: black;
    --text-color: white;
    --gray-like-color: rgb(39, 39, 39);
    --icon-filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(192deg) brightness(107%) contrast(103%);
    --hover-color: rgb(72, 72, 72);
  }
}

.icon--filtered {
  filter: var(--icon-filter);
}

.gray--filtered {
  filter: invert(47%) sepia(0%) saturate(1%) hue-rotate(171deg) brightness(106%) contrast(88%);
  ;
}

body {
  margin: 0px;
  background-color: var(--background-color);
  color: var(--text-color);
}

.cherry-bomb-one-regular {
  font-family: "Cherry Bomb One", system-ui;
  font-weight: 400;
  font-style: normal;
  color: var(--primary-color);
}

nav {
  position: fixed;
  background-color: var(--background-color);
}

pre {
  margin: 0px;
}


main {
  position: absolute;
  z-index: -1;
}


.nav__logo img {
  inline-size: 36px;
}

.logo__brand-name {
  font-size: 24px;
}

a:link,
a {
  color: var(--text-color);
  text-decoration: none;
}

.nav__element img {
  filter: var(--icon-filter);
}

/* site specific */


.post__reply-to {
  display: flex;
  justify-content: center;
}

.reply-to__warper {
  font-size: 12px;
  padding-block: 8px;
  color: var(--strong-gray-color);
  inline-size: 500px;
}

.post__interactions {
  display: flex;
  justify-content: center;
}

.interactions__warper {
  padding-block: 12px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  inline-size: 500px;
  /* justify-items: center; */
  border-block-end-width: 1px;
  border-block-end-color: gray;
  border-block-end-style: solid;
}

.warper__interaction {
  inline-size: 100%;
  padding-block: 8px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
  border-radius: 8px;
  color: gray;
  justify-content: center;
}

.warper__interaction:hover {
  background-color: var(--hover-color);
}



@media (orientation: landscape) {

  nav {
    inline-size: 280px;
    block-size: 100vh;
    border-inline-end-color: var(--gray-like-color);
    border-inline-end-style: solid;
    border-inline-end-width: 1px;
    padding: 12px;
    display: flex;
    flex-direction: column;
    gap: 32px;

    @media (max-width: 1400px) {
      inline-size: 80px;
      align-items: center;
    }
  }

  .nav__logo {
    padding: 12px;
  }

  .nav__logo a {
    display: flex;
    align-items: center;
    gap: 12px;
  }

  .nav__element a {
    display: flex;
    align-items: center;
    gap: 12px;
    block-size: fit-content;
  }

  .nav__element {
    border-radius: 8px;
    padding: 12px;
  }

  .nav__icon img {
    inline-size: 28px;
  }



  @media (pointer: fine) {
    .nav__element:hover {
      background-color: var(--hover-color);
    }
  }

  .nav__element--active {
    background-color: var(--gray-like-color);
  }

  @media (max-width: 1400px) {

    .nav__description,
    .logo__brand-name {
      display: none;
    }
  }

  /* site specific */
  main {
    inline-size: 100%;
    block-size: 100%;
    display: flex;
    flex-direction: row;

    @media (max-width: 1400px) {}
  }

  body::-webkit-scrollbar {
    display: none;
  }


  .profile__at-glance {
    display: flex;
    justify-content: center;
  }

  .at-glance__container {
    padding-block: 12px;
    inline-size: 500px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    border-block-end-style: solid;
    border-block-end-color: var(--strong-gray-color);
    border-block-end-width: 1px;
  }

  .name__username {
    color: gray;
    font-size: 12px;
  }

  .container__start {
    display: grid;
    gap: 12px;
    grid-template-rows: 1fr 2fr;
  }

  .container__end {
    display: grid;
    grid-template-rows: 3fr 2fr;
  }

  .end__action {
    display: flex;
    padding: 12px;
  }

  .end__follow-info {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .follow-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    gap: 12px;
  }

  .action__follow-btn {
    flex: 1;
    border-radius: 8px;
    background-color: var(--gray-like-color);
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .start__brief {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 12px;
  }

  .brief__avatar img {
    border-radius: 50%;
    inline-size: 48px;
    aspect-ratio: 1 / 1;
  }


  .main__profile {
    padding-inline-start: 280px;
    padding-inline-end: 280px;
    flex: 1;

    @media (max-width: 1400px) {
      padding-inline-start: 80px;
    }
  }

  .post__header {
    padding-block-start: 12px;
    display: flex;
    justify-content: center;
  }

  .header__warper {
    inline-size: 500px;
  }

  .warper__user {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 12px
  }

  .user__avatar img {
    inline-size: 40px;
    border-radius: 50%;
    aspect-ratio: 1 / 1;
    object-fit: cover;
  }

  .post {
    inline-size: calc(100vw - 560px);

    @media (max-width: 1400px) {
      inline-size: calc(100vw - 280px - 80px);
    }

    /* overflow: scroll; */
  }

  .post__content {}

  .post__content--v-rl {
    block-size: 100%;
    overflow: scroll;
    writing-mode: vertical-rl;
    inline-size: 500px;
    padding-block-start: calc((100% - 500px) / 2);
  }

  .content__text {
    display: flex;
    justify-content: center;
  }

  .content__text pre {
    inline-size: 500px;
  }

  .content__media {
    display: flex;
    gap: 12px;
    padding-block: 12px;
    /* padding: 12px; */
  }

  .content__media img {
    border-radius: 8px;
    inline-size: 100%;
  }

  .content__media--v-rl {
    flex-direction: column;
  }

  .content__media--v-rl img {
    /* inline-size: 400px; */
  }

  .content__media--h-tb {
    block-size: 100%;
    flex-direction: column;
    overflow: scroll;
    writing-mode: vertical-lr;
    inline-size: 500px;
    padding-block-start: calc((100% - 500px) / 2);
  }

  .query {
    position: fixed;
    inline-size: 280px;
    block-size: 100vh;
    background-color: var(--background-color);
    right: 0px;
    padding: 12px;
    display: flex;
    flex-direction: column;
    gap: 12px;
    z-index: 2;
    border-inline-start-color: var(--gray-like-color);
    border-inline-start-style: solid;
    border-inline-start-width: 1px;

    @media (max-width: 1400px) {
      inline-size: 280px;
    }
  }

  .query__search {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 12px;
  }

  .search__search-bar {
    flex: 1;
  }

  .search__search-bar input {
    border-radius: 4px;
    border: none;
    inline-size: 100%;
    padding: 8px;
    background-color: var(--gray-like-color);
    color: var(--text-color)
  }

  .query__element {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 12px;
    padding: 12px;
    border-radius: 8px;
  }

  .query__element--active {
    background-color: var(--gray-like-color);
  }

  .query__element:hover {
    background-color: var(--hover-color);
  }

  .element__icon {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

@media (orientation: portrait) {
  nav {
    inline-size: 100%;
    block-size: 50px;
    display: flex;
    align-items: center;
    background-color: var(--background-color);
    flex-direction: row;
    border-block-end-width: 1px;
    border-block-end-color: var(--gray-like-color);
    border-block-end-style: solid;
  }

  .nav__element {
    padding: 12px;
    border-radius: 8px;
  }

  .nav__description {
    display: none;
  }

  .nav__logo {
    display: none;
  }

  .nav__home,
  .nav__feed,
  .nav__notifications {
    display: none;
  }

  .post-interaction__description {
    display: none;
  }

  .main__post {
    padding-block-start: 50px;
  }

  .main__replies {
    padding-block-end: 50px;
  }

  .warper__user {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 12px
  }

  .post__header {
    padding-block-start: 12px;
    display: flex;
    justify-content: center;
  }

  .header__warper {
    inline-size: calc(100vw - 20px);
  }

  .interactions__warper {
    padding-block: 12px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    inline-size: calc(100vw - 20px);
    /* justify-items: center; */
    border-block-end-width: 1px;
    border-block-end-color: gray;
    border-block-end-style: solid;
  }



  .user__avatar img {
    inline-size: 40px;
    border-radius: 50%;
    aspect-ratio: 1 / 1;
    object-fit: cover;
  }

  .post__reply-to {
    display: flex;
    justify-content: center;
  }

  .reply-to__warper {
    font-size: 12px;
    padding-block: 8px;
    color: var(--strong-gray-color);
    inline-size: calc(100vw - 20px);
  }

  .post__content--v-rl {
    block-size: 100%;
    overflow: scroll;
    writing-mode: vertical-rl;
    inline-size: calc(100vw - 20px);
    padding-block-start: 10px;
  }

  .content__text {
    display: flex;
    justify-content: center;
  }

  .post__content--h-tb .content__text pre {
    inline-size: calc(100% - 20px);
  }

  .post__content--v-rl .content__text pre,
  .post__content--v-lr .content__text pre {
    inline-size: 100%;
  }

  .content__media {
    display: flex;
    gap: 12px;
    padding-block: 12px;
    /* padding: 12px; */
  }

  .content__media img {
    border-radius: 8px;
    inline-size: 100%;
  }

  .content__media--v-rl {
    flex-direction: column;
  }

  .content__media--v-rl img {
    /* inline-size: 400px; */
  }

  .content__media--h-tb {
    block-size: 100%;
    flex-direction: column;
    overflow: scroll;
    writing-mode: vertical-lr;
    inline-size: calc(100vw - 20px);
    padding-block-start: 10px;
  }

  main {
    inline-size: 100%;
  }

  .main__profile {
    display: flex;
    flex-direction: column;
    padding-block-start: 50px;
    padding-block-end: 80px;
    inline-size: 100%;
  }

  .profile__at-glance {
    padding: 10px;
  }

  .container__start {
    gap: 12px;
    display: flex;
    flex-direction: column;
  }

  .start__brief {
    display: flex;
    flex-direction: row;
    gap: 12px;
  }

  .brief__avatar img {
    inline-size: 56px;
    aspect-ratio: 1 /1;
    border-radius: 50%;
  }

  .brief__name {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
  }

  .container__end {
    display: flex;
    flex-direction: column;
  }

  .end__follow-info {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 12px;
  }

  .end__action {
    padding: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .action__follow-btn {
    inline-size: 100%;
    background-color: var(--gray-like-color);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    padding: 12px;
  }

  .follow-info {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .query {
    position: fixed;
    bottom: 0px;
    background-color: var(--background-color);
    border-block-start-width: 1px;
    border-block-start-color: var(--gray-like-color);
    border-block-start-style: solid;
    display: flex;
    flex: none;
    overflow: scroll;
    flex-direction: row;
    inline-size: 100%;
    block-size: 80px;
    align-items: center;
    gap: 12px;
  }

  .query__element {
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 8px;
  }

  .query__search .search__search-bar {
    display: none;
  }

  .query__search {
    padding: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}