/* | general */
* {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  box-sizing: border-box;
}

*::-webkit-scrollbar {
  display: none;
}

:root {
  --primary-color: #FFB7C5;
  --background-color: white;
  --text-color: black;
  --gray-like-color: rgb(229, 229, 229);
  --strong-gray-color: gray;
  --icon-filter: invert(0%) sepia(8%) saturate(7491%) hue-rotate(179deg) brightness(100%) contrast(100%);
  --primary-color-filter: invert(71%) sepia(20%) saturate(1192%) hue-rotate(307deg) brightness(120%) contrast(102%);
  --hover-color: rgb(222, 222, 222);

  @media (prefers-color-scheme: dark) {
    --background-color: black;
    --text-color: white;
    --gray-like-color: rgb(39, 39, 39);
    --icon-filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(192deg) brightness(107%) contrast(103%);
    --hover-color: rgb(72, 72, 72);
  }
}

body {
  margin: 0px;
  background-color: var(--background-color);
  color: var(--text-color);
}

.cherry-bomb-one-regular {
  font-family: "Cherry Bomb One", system-ui;
  font-weight: 400;
  font-style: normal;
}

nav {
  position: fixed;
  background-color: var(--background-color);

}

main {
  inline-size: 100vw;
  block-size: 100vh;
}

.icon--filtered {
  filter: var(--icon-filter);
}

.gray--filtered {
  filter: invert(47%) sepia(0%) saturate(1%) hue-rotate(171deg) brightness(106%) contrast(88%);
  ;
}


.nav__logo img {
  inline-size: 36px;
}

.logo__brand-name {
  font-size: 24px;
}

pre {
  margin: 0px;
}

a:link,
a {
  color: var(--text-color);
  text-decoration: none;
}

.nav__element img {
  filter: var(--icon-filter);
}

/* site specific */
.post__reply-to {
  display: flex;
  justify-content: center;
}

.reply-to__warper {
  font-size: 12px;
  padding-block: 8px;
  color: var(--strong-gray-color);
  inline-size: 500px;
}

.post__interactions {
  display: flex;
  justify-content: center;
}

.interactions__warper {
  padding-block: 12px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  inline-size: 500px;
  /* justify-items: center; */
  border-block-end-width: 1px;
  border-block-end-color: gray;
  border-block-end-style: solid;
}

.warper__interaction {
  inline-size: 100%;
  padding-block: 8px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
  border-radius: 8px;
  color: gray;
  justify-content: center;
}



/* site specific */

.header__user-avatar img {
  inline-size: 48px;
  aspect-ratio: 1 / 1;
  border-radius: 50%;
}

.main__post-interactions {
  position: fixed;
}

@media (orientation: landscape) {
  nav {
    inline-size: 280px;
    block-size: 100vh;
    border-inline-end-color: var(--gray-like-color);
    border-inline-end-style: solid;
    border-inline-end-width: 1px;
    padding: 12px;
    display: flex;
    flex-direction: column;
    gap: 32px;

    @media (max-width: 1400px) {
      inline-size: 80px;
      align-items: center;
    }
  }

  .nav__logo {
    padding: 12px;
  }

  .nav__logo a {
    display: flex;
    align-items: center;
    gap: 12px;
  }

  .nav__element a {
    display: flex;
    align-items: center;
    gap: 12px;
    block-size: fit-content;
  }

  .nav__element {
    border-radius: 8px;
    padding: 12px;
  }

  .nav__icon img {
    inline-size: 28px;
  }

  .nav__element--active {
    background-color: var(--gray-like-color);
  }

  @media (max-width: 1400px) {

    .nav__description,
    .logo__brand-name {
      display: none;
    }
  }

  /* site specific */

  main {
    display: flex;
    flex-direction: column;
    padding-inline: 280px;

    @media (max-width: 1400px) {
      padding-inline-start: 80px;
    }
  }

  .post__header {
    padding-block-start: 12px;
    display: flex;
    justify-content: center;
  }

  .header__warper {
    inline-size: 500px;
  }

  .warper__user {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 12px
  }

  .user__avatar img {
    inline-size: 40px;
    border-radius: 50%;
    aspect-ratio: 1 / 1;
    object-fit: cover;
  }

  .post {
    inline-size: calc(100vw - 560px);

    @media (max-width: 1400px) {
      inline-size: calc(100vw - 280px - 80px);
    }

    /* overflow: scroll; */
  }

  .post__content {}

  .post__content--v-rl {
    block-size: 100%;
    overflow: scroll;
    writing-mode: vertical-rl;
    inline-size: 500px;
    padding-block-start: calc((100% - 500px) / 2);
  }

  .content__text {
    display: flex;
    justify-content: center;
  }

  .content__text pre {
    inline-size: 500px;
  }

  .content__media {
    display: flex;
    gap: 12px;
    padding-block: 12px;
    /* padding: 12px; */
  }

  .content__media img {
    border-radius: 8px;
    inline-size: 100%;
  }

  .content__media--v-rl {
    flex-direction: column;
  }

  .content__media--v-rl img {
    /* inline-size: 400px; */
  }

  .content__media--h-tb {
    block-size: 100%;
    flex-direction: column;
    overflow: scroll;
    writing-mode: vertical-lr;
    inline-size: 500px;
    padding-block-start: calc((100% - 500px) / 2);
  }

  .main__post-interactions {
    inline-size: 280px;
    block-size: 100vh;
    background-color: var(--background-color);
    right: 0px;
    padding: 12px;
    display: flex;
    flex-direction: column;
    gap: 12px;
    z-index: 2;
    border-inline-start-color: var(--gray-like-color);
    border-inline-start-style: solid;
    border-inline-start-width: 1px;
  }

  .post-interaction {
    border-radius: 8px;
    padding: 12px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 12px;
  }



}

@media (orientation: portrait) {
  nav {
    inline-size: 100%;
    block-size: 50px;
    display: flex;
    align-items: center;
    background-color: var(--background-color);
    flex-direction: row;
    border-block-end-width: 1px;
    border-block-end-color: var(--gray-like-color);
    border-block-end-style: solid;
  }

  .nav__element {
    padding: 12px;
    border-radius: 8px;
  }

  .nav__description {
    display: none;
  }

  .nav__logo {
    display: none;
  }

  .nav__home,
  .nav__feed,
  .nav__notifications,
  .nav__account,
  .nav__login,
  .nav__settings {
    display: none;
  }

  .post-interaction {
    display: flex;
    flex-direction: column;
    gap: 4px;
    align-items: center;
  }

  .post-interaction__description {
    color: gray;
    /* display: none; */
  }

  .main__post {
    padding-block-start: 50px;
  }

  .main__replies {
    padding-block-end: 80px;
  }

  .warper__user {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 12px
  }

  .post__header {
    padding-block-start: 12px;
    display: flex;
    justify-content: center;
  }

  .header__warper {
    inline-size: calc(100vw - 20px);
  }



  .user__avatar img {
    inline-size: 40px;
    border-radius: 50%;
    aspect-ratio: 1 / 1;
    object-fit: cover;
  }

  .post__reply-to {
    display: flex;
    justify-content: center;
  }

  .reply-to__warper {
    font-size: 12px;
    padding-block: 8px;
    color: var(--strong-gray-color);
    inline-size: calc(100vw - 20px);
  }

  .post__content--v-rl {
    block-size: 100%;
    overflow: scroll;
    writing-mode: vertical-rl;
    inline-size: calc(100vw - 20px);
    padding-block-start: 10px;
  }

  .content__text {
    display: flex;
    justify-content: center;
  }

  .post__content--h-tb .content__text pre {
    inline-size: calc(100% - 20px);
  }

  .post__content--v-rl .content__text pre,
  .post__content--v-lr .content__text pre {
    inline-size: 100%;
  }

  .content__media {
    display: flex;
    gap: 12px;
    padding-block: 12px;
    /* padding: 12px; */
  }

  .content__media img {
    border-radius: 8px;
    inline-size: 100%;
  }

  .content__media--v-rl {
    flex-direction: column;
  }

  .content__media--v-rl img {
    /* inline-size: 400px; */
  }

  .content__media--h-tb {
    block-size: 100%;
    flex-direction: column;
    overflow: scroll;
    writing-mode: vertical-lr;
    inline-size: calc(100vw - 20px);
    padding-block-start: 10px;
  }

  .main__post-interactions {
    display: flex;
    align-items: center;
    justify-content: space-around;
    inline-size: 100%;
    block-size: 80px;
    bottom: 0px;
    flex-direction: row;
    position: fixed;
    background-color: var(--background-color);
    border-block-start-width: 1px;
    border-block-start-color: var(--gray-like-color);
    border-block-start-style: solid;
  }

  .interactions__warper {
    padding-block: 12px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    inline-size: calc(100vw - 20px);
    /* justify-items: center; */
    border-block-end-width: 1px;
    border-block-end-color: gray;
    border-block-end-style: solid;
  }

}

@media (pointer: fine) {
  .nav__element:hover {
    background-color: var(--hover-color);
  }

  .warper__interaction:hover {
    background-color: var(--hover-color);
  }

  .post-interaction img:hover {
    filter: var(--icon-filter);
  }
}