* {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  box-sizing: border-box;
  writing-mode: vertical-rl;
  scrollbar-width: none;
}

*::-webkit-scrollbar {
  display: none;
}

.gray--filtered {
  filter: invert(47%) sepia(0%) saturate(1%) hue-rotate(171deg) brightness(106%) contrast(88%);
}

:root {
  --primary-color: #FFB7C5;
  --background-color: white;
  --text-color: black;
  --gray-like-color: rgb(229, 229, 229);
  --strong-gray-color: gray;
  --icon-filter: invert(0%) sepia(8%) saturate(7491%) hue-rotate(179deg) brightness(100%) contrast(100%);
  --primary-color-filter: invert(71%) sepia(20%) saturate(1192%) hue-rotate(307deg) brightness(120%) contrast(102%);
  --hover-color: rgb(222, 222, 222);

  @media (prefers-color-scheme: dark) {
    --background-color: black;
    --text-color: white;
    --gray-like-color: rgb(39, 39, 39);
    --icon-filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(192deg) brightness(107%) contrast(103%);
    --hover-color: rgb(72, 72, 72);
  }
}

body {
  margin: 0px;
  background-color: var(--background-color);
  color: var(--text-color);
  inline-size: 100vh;
}

.cherry-bomb-one-regular {
  font-family: "Cherry Bomb One", system-ui;
  font-weight: 400;
  font-style: normal;
}

.nav__logo img {
  inline-size: 32px;
}

a:link,
a {
  color: var(--text-color);
  text-decoration: none;
}

.nav__element--active {
  background-color: var(--gray-like-color);
}

.query__element--active {
  background-color: var(--gray-like-color);
}

.nav__element img {
  filter: var(--icon-filter);
}

.icon--filtered {
  filter: var(--icon-filter);
}

.reply__count,
.like__count {
  text-transform: full-width;
}

.reply-to__warper--before {
  display: none;
}


@media (orientation: landscape) {

  .nav__description,
  .logo__brand-name {
    display: none;
  }

  nav {
    z-index: 3;
    display: flex;
    position: fixed;
    inline-size: 100%;
    background-color: var(--background-color);
    justify-content: space-around;
    right: 0px;
    align-items: center;
    /* padding-block: 20px; */
    block-size: 80px;
    border-block-end-color: var(--gray-like-color);
    border-block-end-width: 1px;
    border-block-end-style: solid;
  }

  .nav__element {
    border-radius: 8px;
    padding: 12px;
    display: flex;
    gap: 12px;
  }

  .nav__element a {
    display: flex;
    align-items: center;
    gap: 12px;
    block-size: fit-content;
  }

  .nav__logo {
    display: none;
  }

  .nav__account .nav__icon img {
    inline-size: 24px;
    aspect-ratio: 1/1;
  }

  .user__avatar img {
    inline-size: 40px;
    border-radius: 50%;
    aspect-ratio: 1 / 1;
    object-fit: cover;
  }



  .query {
    padding: 12px;
    position: fixed;
    z-index: 3;
    left: 0px;
    background-color: var(--background-color);
    display: flex;
    gap: 12px;
    flex-direction: column;
    inline-size: 100%;
    block-size: 140px;
    border-block-start-color: var(--gray-like-color);
    border-block-start-width: 1px;
    border-block-start-style: solid;
  }

  .query__search {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 12px;
    justify-content: center;
  }

  .query__element {
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 8px;
  }

  .search__search-bar {
    inline-size: 300px;
  }

  /* .search__search-bar form {
    inline-size: 300px;
  } */

  .query__filters {
    flex: 1;
    display: flex;
    align-items: center;
    gap: 12px;
  }

  .search__search-bar input {
    border-radius: 4px;
    border: none;
    inline-size: 100%;
    padding: 8px;
    background-color: var(--gray-like-color);
    color: var(--text-color)
  }

  main {
    block-size: 100%;
    padding-block-start: 80px;
    padding-block-end: 140px;
  }

  .post__header {
    padding-block-start: 12px;
    display: flex;
    justify-content: center;
  }

  .header__warper {
    inline-size: 500px;
  }

  .warper__user {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 12px
  }

  .user__avatar img {
    inline-size: 40px;
    border-radius: 50%;
    aspect-ratio: 1 / 1;
    object-fit: cover;
  }



  .content__media {
    /* display: flex; */
    /* gap: 12px; */
    /* padding-block: 12px; */
    /* padding: 12px; */
  }

  .post__content--v-rl {
    inline-size: 100vh;
    /* padding-inline-start: calc((100vh - 500px)/2); */
  }

  .content__media.content__media--v-rl {
    overflow: scroll;
    padding-inline-start: calc((100vh - 500px) / 2);
  }

  .post__content--v-rl .content__text {
    display: flex;
    justify-content: center;
  }

  .post__content--v-rl .content__text pre {
    inline-size: 500px;
  }

  .content__media--v-rl img {
    block-size: 500px;
  }

  .content__media.content__media--h-tb {
    padding: 0px;
  }

  .content__media img {
    border-radius: 8px;
    /* inline-size: 100%; */
    border-width: 1px;
    border-color: var(--gray-like-color);
    border-style: solid;
  }

  .post__reply-to {
    display: flex;
    justify-content: center;
  }

  .reply-to__warper {
    font-size: 12px;
    padding-block: 8px;
    color: var(--strong-gray-color);
    inline-size: 500px;
  }

  .post__interactions {
    display: flex;
    justify-content: center;
  }

  .interactions__warper {
    padding-block: 12px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    inline-size: 500px;
    /* justify-items: center; */
    border-block-end-width: 1px;
    border-block-end-color: gray;
    border-block-end-style: solid;
  }

  .warper__interaction {
    inline-size: 100%;
    padding-block: 8px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
    border-radius: 8px;
    color: gray;
    justify-content: center;
  }

  .post__content--v-rl {}

  .post__content--h-tb {
    writing-mode: horizontal-tb;
    inline-size: 500px;
    overflow: scroll;
    block-size: 100vh;
    padding-block-start: calc((100vh - 500px) / 2);
  }

  .post__content--h-tb .content__text {
    writing-mode: horizontal-tb;
  }

  .post__content--h-tb .content__text pre {
    writing-mode: horizontal-tb;
    inline-size: 500px;
    margin: 0px;
  }


  .content__media {
    /* inline-size: 500px; */
  }

  .content__media--h-tb {
    writing-mode: horizontal-tb;
    inline-size: 500px;
  }

  .content__media--h-tb img {
    writing-mode: horizontal-tb;
    inline-size: 500px;
    padding: 0px;
  }

}

@media (orientation: portrait) {
  nav {
    block-size: 100vw;
    background-color: var(--background-color);
    display: grid;
    z-index: 3;
    grid-template-rows: repeat(5, 1fr);
    align-items: center;
    justify-items: center;
    position: fixed;
    top: 0px;
    inline-size: 50px;
    border-inline-end-color: var(--gray-like-color);
    border-inline-end-width: 1px;
    border-inline-end-style: solid;
  }

  .nav__logo {
    display: none;
  }

  .nav__description {
    display: none;
  }

  .nav__element {
    border-radius: 8px;
    padding: 8px;
  }

  .nav__login {
    display: none;
  }

  .nav__account .nav__icon img {
    inline-size: 24px;
    aspect-ratio: 1/1;
  }

  .nav__settings--authenticated {
    display: none;
  }

  main {
    inline-size: 100vh;
    padding-inline-end: clamp(120px, calc(100vh - 100vw - 50px), 280px);
  }

  .main__posts {
    padding-inline-start: 50px;
  }
  .post {
    /* margin-inline-start: 50px; */
  }

  .post__header {
    padding-block-start: 12px;
    padding-inline-start: min(calc((100vh - 330px - 100vw) / 2), calc((100vh - 100vw - 170px) / 2  ));
    display: flex;
    justify-content: center;
  }

  .header__warper {
    inline-size: 100%;
  }

  .warper__user {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 12px
  }

  .user__avatar img {
    inline-size: 40px;
    border-radius: 50%;
    aspect-ratio: 1 / 1;
    object-fit: cover;
  }



  .content__media {
    /* display: flex; */
    /* gap: 12px; */
    /* padding-block: 12px; */
    /* padding: 12px; */
  }

  .post__content--v-rl {
    /* inline-size: calc(100vh - 100vw - 50px); */
    /* padding-inline-start: calc((100vh - 500px)/2); */
  }

  .content__media.content__media--v-rl {
    overflow: scroll;

    padding-inline-start: min(calc((100vh - 330px - 100vw) / 2), calc((100vh - 100vw - 170px) / 2  ));
  }

  .post__content--v-rl .content__text {
    display: flex;
    justify-content: center;

    padding-inline-start: min(calc((100vh - 330px - 100vw) / 2), calc((100vh - 100vw - 170px) / 2  ));
  }

  .post__content--v-rl .content__text pre {
    inline-size: 100%;
  }

  .content__media--v-rl img {
    block-size: 100vw;
  }

  .content__media.content__media--h-tb {
    padding: 0px;
  }

  .content__media img {
    border-radius: 8px;
    /* inline-size: 100%; */
    border-width: 1px;
    border-color: var(--gray-like-color);
    border-style: solid;
  }

  .post__reply-to {
    display: flex;
    justify-content: center;
  }

  .reply-to__warper {
    font-size: 12px;
    padding-block: 8px;
    color: var(--strong-gray-color);
    inline-size: 100vw;
  }

  .post__interactions {
    display: flex;
    justify-content: center;
  }

  .interactions__warper {
    padding-block: 12px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    inline-size: 100vw;
    /* justify-items: center; */
    border-block-end-width: 1px;
    border-block-end-color: gray;
    border-block-end-style: solid;
  }

  .warper__interaction {
    inline-size: 100%;
    padding-block: 8px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
    border-radius: 8px;
    color: gray;
    justify-content: center;
  }

  .post__content--v-rl {}

  .post__content--h-tb {
    writing-mode: horizontal-tb;
    inline-size: 100vw;
    overflow: scroll;
    block-size: 100%;
    padding-block-start: min(calc((100vh - 330px - 100vw) / 2), calc((100vh - 100vw - 170px) / 2  ));
  }

  .post__content--h-tb .content__text {
    writing-mode: horizontal-tb;
  }

  .post__content--h-tb .content__text pre {
    writing-mode: horizontal-tb;
    inline-size: 100vw; 
    margin: 0px;
  }


  .content__media {
    /* inline-size: 500px; */
  }

  .content__media--h-tb {
    writing-mode: horizontal-tb;
    inline-size: 100vw;
  }

  .content__media--h-tb img {
    writing-mode: horizontal-tb;
    inline-size: 100vw;
    padding: 0px;
  }

  .query {
    position: fixed;
    block-size: 100vw;
    z-index: 3;
    background-color: var(--background-color);
    bottom: 0px;
    inline-size: calc(100vh - 100vw - 50px);
    max-inline-size: 280px;
    min-inline-size: 120px;
    border-inline-start-color: var(--gray-like-color);
    border-inline-start-width: 1px;
    border-inline-start-style: solid;
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 8px;
  }

  .query__filters {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }

  .query__search {
    inline-size: 100%;
    /* display: flex; */
    /* flex-direction: row; */
    display: grid;
    grid-template-columns: 1fr 24px;
    align-items: center;
    gap: 12px;
    /* justify-content: center; */
  }

  .search__search-bar input {
    border-radius: 4px;
    border: none;
    inline-size: 100%;
    padding: 8px;
    background-color: var(--gray-like-color);
    color: var(--text-color)
  }

  .query__element {
    border-radius: 8px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 4px;
    padding: 8px;
  }
  
}

@media (pointer: fine) {
  .nav__element:hover {
    background-color: var(--hover-color);
  }

  .query__element:hover {
    background-color: var(--hover-color);
  }

  .warper__interaction:hover {
    background-color: var(--hover-color);
  }
}