/* | general */
* {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  box-sizing: border-box;
}

:root {
  --primary-color: #FFB7C5;
  --background-color: white;
  --text-color: black;
  --gray-like-color: rgb(229, 229, 229);
  --strong-gray-color: gray;
  --icon-filter: invert(0%) sepia(8%) saturate(7491%) hue-rotate(179deg) brightness(100%) contrast(100%);
  --primary-color-filter: invert(71%) sepia(20%) saturate(1192%) hue-rotate(307deg) brightness(120%) contrast(102%);
  --hover-color: rgb(222, 222, 222);

  @media (prefers-color-scheme: dark) {
    --background-color: black;
    --text-color: white;
    --gray-like-color: rgb(39, 39, 39);
    --icon-filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(192deg) brightness(107%) contrast(103%);
    --hover-color: rgb(72, 72, 72);
  }
}

body {
  margin: 0px;
  background-color: var(--background-color);
  color: var(--text-color);
}

.cherry-bomb-one-regular {
  font-family: "Cherry Bomb One", system-ui;
  font-weight: 400;
  font-style: normal;
  color: var(--primary-color);
}

nav {
  position: fixed;
  background-color: var(--background-color);
}


main {
  position: absolute;
  z-index: -1;
}


.nav__logo img {
  inline-size: 36px;
}

.logo__brand-name {
  font-size: 24px;
}

a:link,
a {
  color: var(--text-color);
  text-decoration: none;
}

.nav__element img {
  filter: var(--icon-filter);
}

@media (orientation: landscape) {

  /* general */
  main {
    display: flex;
    flex-direction: row;
    inline-size: 100%;
  }

  nav {
    inline-size: 280px;
    block-size: 100vh;
    border-inline-end-color: var(--gray-like-color);
    border-inline-end-style: solid;
    border-inline-end-width: 1px;
    padding: 12px;
    display: flex;
    flex-direction: column;
    gap: 32px;

    @media (max-width: 1400px) {
      inline-size: 80px;
      align-items: center;
    }
  }

  .nav__logo {
    padding: 12px;
  }
  
  .nav__logo a {
    display: flex;
    align-items: center;
    gap: 12px;
  }

  .nav__element a {
    display: flex;
    align-items: center;
    gap: 12px;
    block-size: fit-content;
  }

  .nav__element {
    border-radius: 8px;
    padding: 12px;
  }

  .nav__icon img {
    inline-size: 28px;
  }

  @media (pointer: fine) {
    .nav__element:hover {
      background-color: var(--hover-color);
    }
  }

  .nav__element--active {
    background-color: var(--gray-like-color);
  }

  @media (max-width: 1400px) {
    .nav__description,
    .logo__brand-name {
      display: none;
    }
  }


}

@media (orientation: portrait) {}