/* | general */
* {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  box-sizing: border-box;
}

:root {
  --primary-color: #FFB7C5;
  --background-color: white;
  --text-color: black;
  --gray-like-color: rgb(229, 229, 229);
  --strong-gray-color: gray;
  --icon-filter: invert(0%) sepia(8%) saturate(7491%) hue-rotate(179deg) brightness(100%) contrast(100%);
  --primary-color-filter: invert(71%) sepia(20%) saturate(1192%) hue-rotate(307deg) brightness(120%) contrast(102%);
  --hover-color: rgb(222, 222, 222);

  @media (prefers-color-scheme: dark) {
    --background-color: black;
    --text-color: white;
    --gray-like-color: rgb(39, 39, 39);
    --icon-filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(192deg) brightness(107%) contrast(103%);
    --hover-color: rgb(72, 72, 72);
  }
}

body {
  margin: 0px;
  background-color: var(--background-color);
  color: var(--text-color);
}

.cherry-bomb-one-regular {
  font-family: "Cherry Bomb One", system-ui;
  font-weight: 400;
  font-style: normal;
  color: var(--primary-color);
}

.icon--filtered {
  filter: var(--icon-filter);
}

nav {
  position: fixed;
  background-color: var(--background-color);
}


main {
  position: absolute;
  z-index: -1;
}


.nav__logo img {
  inline-size: 36px;
}

.logo__brand-name {
  font-size: 24px;
}

a:link,
a {
  color: var(--text-color);
  text-decoration: none;
}

.nav__element img {
  filter: var(--icon-filter);
}

@media (orientation: landscape) {

  /* general */
  main {
    display: flex;
    flex-direction: row;
    inline-size: 100%;
  }

  nav {
    inline-size: 280px;
    block-size: 100vh;
    border-inline-end-color: var(--gray-like-color);
    border-inline-end-style: solid;
    border-inline-end-width: 1px;
    padding: 12px;
    display: flex;
    flex-direction: column;
    gap: 32px;

    @media (max-width: 1400px) {
      inline-size: 80px;
      align-items: center;
    }
  }

  .nav__logo {
    padding: 12px;
  }

  .nav__logo a {
    display: flex;
    align-items: center;
    gap: 12px;
  }

  .nav__element a {
    display: flex;
    align-items: center;
    gap: 12px;
    block-size: fit-content;
  }

  .nav__element {
    border-radius: 8px;
    padding: 12px;
  }

  .nav__icon img {
    inline-size: 28px;
  }



  .nav__element--active {
    background-color: var(--gray-like-color);
  }

  @media (max-width: 1400px) {

    .nav__description,
    .logo__brand-name {
      display: none;
    }
  }

  .query {
    position: fixed;
    inline-size: 280px;
    block-size: 100vh;
    background-color: var(--background-color);
    right: 0px;
    padding: 12px;
    display: flex;
    flex-direction: column;
    gap: 12px;
    z-index: 2;
    border-inline-start-color: var(--gray-like-color);
    border-inline-start-style: solid;
    border-inline-start-width: 1px;

    @media (max-width: 1400px) {
      inline-size: 280px;
    }
  }

  .query__search {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 12px;
  }

  .search__search-bar {
    flex: 1;
  }

  .search__search-bar input {
    border-radius: 4px;
    border: none;
    inline-size: 100%;
    padding: 8px;
    background-color: var(--gray-like-color);
    color: var(--text-color)
  }

  .query__element {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 12px;
    padding: 12px;
    border-radius: 8px;
  }


}

@media (orientation: portrait) {
  nav {
    position: fixed;
    bottom: 0px;
    display: flex;
    flex-direction: row;
    inline-size: 100%;
    block-size: 50px;
    align-items: center;
    justify-content: space-around;
    border-block-start-width: 1px;
    border-block-start-color: var(--gray-like-color);
    border-block-start-style: solid;
  }

  .nav__description {
    display: none;
  }

  .nav__logo {
    display: none;
  }

  .nav__element {
    border-radius: 8px;
    padding: 8px;
  }

  .nav__login {
    display: none;
  }

  .nav__account .nav__icon img {
    inline-size: 24px;
    aspect-ratio: 1/1;
  }

  .nav__settings--authenticated {
    display: none;
  }

  main {
    inline-size: 100%;
    padding: 12px;
    padding-block-start: 80px;
    padding-block-end: 50px;
  }

  .query {
    position: fixed;
    top: 0px;
    background-color: var(--background-color);
    border-block-end-width: 1px;
    border-block-end-color: var(--gray-like-color);
    border-block-end-style: solid;
    display: flex;
    flex: none;
    overflow: scroll;
    flex-direction: row;
    inline-size: 100%;
    block-size: 80px;
    align-items: center;
    gap: 12px;
  }

  .query__element {
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 8px;
  }

  .query .query__element .element__description {
    /* display: none; */
  }

  .query__search .search__search-bar {
    display: none;
  }

  .query__search {
    padding: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

}

@media (pointer: fine) {
  .nav__element:hover {
    background-color: var(--hover-color);
  }
}