{% extends "base_generic.html" %}
{% load i18n %}
{% load static %}
{% get_current_language as LANGUAGE_CODE %}

{% block title %}
    <title>{% translate "Home" %} | Trang tranh</title>
{% endblock title %}

{% block fonts %}
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Cherry+Bomb+One&display=swap" rel="stylesheet">
{% endblock fonts %}

{% block stylesheets %}
    {% if LANGUAGE_CODE == 'ja' %}
        <link rel="stylesheet" href="{% static "css/index/index-jp.css" %}">
    {% else %}
        <link rel="stylesheet" href="{% static "css/index/index.css" %}">
    {% endif %}
{% endblock stylesheets %}
{% block javascripts %}{% endblock javascripts %}

{% block content %}
    {% block naviagtion %}
        <nav>
            {% block nav__start %}
                <div class="nav__logo">
                    <a href="{% url "index" %}">
                        <div class="logo__image">
                            <img src="{% static "images/icons/svgs/trang-tranh-logo.svg" %}" alt="Logo">
                        </div>
                        <span class='cherry-bomb-one-regular logo__brand-name'>Trang tranh</span>
                    </a>
                </div>
            {% endblock nav__start %}

            {% block nav__home %}
                <div class="nav__element nav__home nav__element--active">
                    <a href="{% url "index" %}">
                        <div class="nav__icon">
                            <img src="{% static "images/icons/svgs/nav/home_FILL1_wght400_GRAD0_opsz24.svg" %}" alt="Home">
                        </div>
                        <div class="nav__description">{% translate "Home" %}</div>
                    </a>
                </div>
            {% endblock nav__home %}

            {% block nav__feed %}
                <div class="nav__element nav__feed">
                    <a href="{% url "feed" %}">
                        <div class="nav__icon">
                            <img src="{% static "images/icons/svgs/nav/alternate_email_24dp_FILL0_wght400_GRAD0_opsz24.svg" %}" alt="Feed">
                        </div>
                        <div class="nav__description">{% translate "Feed" %}</div>
                    </a>
                </div>

            {% endblock nav__feed %}

            {% block nav__create %}
            {% endblock nav__create %}

            {% block nav__notifications %}
                <div class="nav__element nav__notifications">
                    <a href="{% url "notifications" %}">
                        <div class="nav__icon">
                            <img src="{% static "images/icons/svgs/notifications_24dp_FILL0_wght400_GRAD0_opsz24.svg" %}" alt="Notifications icon">
                        </div>
                        <div class="nav__description">{% translate "Notifications" %}</div>
                    </a>
                </div>

            {% endblock nav__notifications %}

            {% block nav__account %}
            {% endblock nav__account %}
       </nav>
    {% endblock naviagtion %}

    {% block main %}
       <main>
            <div class="main__nav-reserved-space"></div>
            <div class="main__update">
                <div class="update__genre-selector">
                    <img src="{% static "images/icons/svgs/category_24dp_FILL0_wght400_GRAD0_opsz24.svg" %}" alt="{% translate "Genre icon" %}" class="icon--filtered">
                    <div class="genre-selector__selected-genre">
                        All genre
                    </div>
                    <img src="{% static "images/icons/svgs/arrow_drop_down_24dp_FILL0_wght400_GRAD0_opsz24.svg" %}" alt="{% translate "Arrow drop down icon" %}" class="icon--filtered">
                </div>
                <div class="update__chapters">
                    {% for chapter in updated_chapters %}
                        {% if chapter.comic.default_language == LANGUAGE_CODE and chapter.is_valid %}
                            <a href="{{ chapter.get_absolute_url }}" class="update">
                                <div class="update__chapter">
                                    <div class="chapter__comic-cover">
                                        <img src="{{ chapter.comic.vertical_cover.url }}" alt="Comic cover">
                                    </div>
                                    <div class="chapter__at-glance">
                                        <div class="at-glance__title">
                                            {{ chapter.comic.title }}
                                        </div>
                                        <div class="at-glance__chapter-number">
                                            #{{ chapter.number }}
                                        </div>
                                        <div class="at-glance__authors">
                                            {{ chapter.comic.display_authors }}
                                        </div>
                                        <div class="at-glance__publisher">
                                            <div class="publisher__avatar">
                                                <img src="{{ chapter.comic.publisher.avatar.url }}" alt="Publisher avatar">
                                            </div>
                                            <div class="publisher__name">
                                                <span>{{ chapter.comic.publisher.name }}</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        {% elif chapter.comic.default_language != LANGUAGE_CODE and chapter.chaptertranslation_set.all %}
                            {% for translation in chapter.chaptertranslation_set.all %}
                                {% if translation.comic_translation.language == LANGUAGE_CODE and translation.is_valid %}
                                    <a href="{{ translation.get_absolute_url }}" class="update">
                                        <div class="update__chapter">
                                            <div class="chapter__comic-cover">
                                                <img src="{{ chapter.comic.vertical_cover.url }}" alt="Comic cover">
                                            </div>
                                            <div class="chapter__at-glance">
                                                <div class="at-glance__title">
                                                    {{ translation.comic_translation.title }}
                                                </div>
                                                <div class="at-glance__chapter-number">
                                                    #{{ chapter.number }}
                                                </div>
                                                <div class="at-glance__authors">
                                                    {{ translation.comic_translation.display_authors }}
                                                </div>
                                                <div class="at-glance__publisher">
                                                    <div class="publisher__avatar">
                                                        <img src="{{ translation.chapter.comic.publisher.avatar.url }}" alt="Publisher avatar">
                                                    </div>
                                                    <div class="publisher__name">
                                                        <span>{{ translation.chapter.comic.publisher.name }}</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                {% endif %}
                            {% endfor %}
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
            <div class="main__query-reserved-space"></div>
            <div class="query">
                <div class="query__search">
                    <div class="search__search-bar">
                        <form action="">
                            <input type="search">
                        </form>
                    </div>
                    <div class="search__btn">
                        <img src="{% static "images/icons/svgs/search_FILL0_wght400_GRAD0_opsz24.svg" %}" alt="Search icon" class="icon--filtered">
                    </div>
                </div>
                <div class="query__element query__to-you query__element--active">
                    <div class="element__icon">
                        <img src="{% static "images/icons/svgs/recommend_FILL1_wght400_GRAD0_opsz24.svg" %}" alt="Recommend icon" class="icon--filtered">
                    </div>
                    <div class="element__description">{% translate "To you" %}</div>
                </div>
                <div class="query__element query__trending">
                    <div class="element__icon">
                        <img src="{% static "images/icons/svgs/local_fire_department_24dp_FILL0_wght400_GRAD0_opsz24.svg" %}" alt="Trending icon" class="icon--filtered">
                    </div>
                    <div class="element__description">{% translate "Trending" %}</div>
                </div>
                <div class="query__element query__following">
                    <div class="element__icon">
                        <img src="{% static "images/icons/svgs/person_check_24dp_FILL0_wght400_GRAD0_opsz24.svg" %}" alt="Following icon" class="icon--filtered">
                    </div>
                    <div class="element__description">{% translate "Following" %}</div>
                </div>
            </div>
        </main>
    {% endblock main %}

{% endblock content %}
