{% extends "base_generic.html" %}
{% load i18n %}
{% load static %}
{% get_current_language as LANGUAGE_CODE %}

{% block title %}
    <title>{% translate "Home" %} | Trang tranh</title>
{% endblock title %}

{% block fonts %}
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Cherry+Bomb+One&display=swap" rel="stylesheet">
{% endblock fonts %}

{% block stylesheets %}
    {% if LANGUAGE_CODE == 'ja' %}
        <link rel="stylesheet" href="{% static "css/index/index-jp.css" %}">
    {% else %}
        <link rel="stylesheet" href="{% static "css/index/index.css" %}">
    {% endif %}
{% endblock stylesheets %}
{% block javascripts %}
    <script type="module" src={% static "js/generic/NavCreate.js" %}></script>
{% endblock javascripts %}
{% block script %}
    <script src="https://unpkg.com/htmx.org@2.0.0" integrity="sha384-wS5l5IKJBvK6sPTKa2WZ1js3d947pvWXbPJ1OmWfEuxLgeHcEbjUUA5i9V5ZkpCw" crossorigin="anonymous"></script>
{% endblock script %}

{% block style %}
    <style>
        .nav__account .nav__icon img {
        filter: none;
        border-radius: 50%;
        }
    </style>
{% endblock style %}

{% block content %}
    {% block naviagtion %}
        <nav>
            {% block nav__start %}
                <div class="nav__logo">
                    <a href="{% url "index" %}">
                        <div class="logo__image">
                            <img src="{% static "images/icons/svgs/trang-tranh-logo.svg" %}" alt="Logo">
                        </div>
                        <span class='cherry-bomb-one-regular logo__brand-name'>Trang tranh</span>
                    </a>
                </div>
            {% endblock nav__start %}

            {% block nav__home %}
                <div class="nav__element nav__home nav__element--active">
                    <a href="{% url "index" %}">
                        <div class="nav__icon">
                            <img src="{% static "images/icons/svgs/nav/home_FILL1_wght400_GRAD0_opsz24.svg" %}" alt="Home">
                        </div>
                        <div class="nav__description">{% translate "Home" %}</div>
                    </a>
                </div>
            {% endblock nav__home %}

            {% block nav__feed %}
                <div class="nav__element nav__feed">
                    <a href="{% url "feed" %}">
                        <div class="nav__icon">
                            <img src="{% static "images/icons/svgs/nav/alternate_email_24dp_FILL0_wght400_GRAD0_opsz24.svg" %}" alt="Feed">
                        </div>
                        <div class="nav__description">{% translate "Feed" %}</div>
                    </a>
                </div>

            {% endblock nav__feed %}

            {% block nav__create %}
                <div class="nav__element nav__create">
                    <a>
                        <div class="nav__icon">
                            <img src="{% static "images/icons/svgs/nav/add_24dp_000000_FILL0_wght400_GRAD0_opsz24.svg" %}" alt="Feed">
                        </div>
                        <div class="nav__description">{% translate "Create" %}</div>
                    </a>
                </div>
            {% endblock nav__create %}

            {% block nav__notifications %}
                <div class="nav__element nav__notifications">
                    <a href="{% url "notifications" %}">
                        <div class="nav__icon">
                            <img src="{% static "images/icons/svgs/notifications_24dp_FILL0_wght400_GRAD0_opsz24.svg" %}" alt="Notifications icon">
                        </div>
                        <div class="nav__description">{% translate "Notifications" %}</div>
                    </a>
                </div>

            {% endblock nav__notifications %}

            {% block nav__account %}
                {% if user.is_authenticated %}
                    <div class="nav__element {% if user.userprofile.avatar %}nav__account {% else %}nav__account--avatar-holder{% endif %} ">
                        <a href="{{ user.userprofile.get_absolute_url }}">
                            <div class="nav__icon">
                                {% if user.userprofile.avatar %}
                                <img src="{{ user.userprofile.avatar.url }}" alt="{% translate "Profile avatar" %}">
                                {% else %}
                                <img src="{% static "images/icons/svgs/account_circle_24dp_FILL1_wght400_GRAD0_opsz24.svg" %}" alt="Profile avatar holder">
                                {% endif %}
                            </div>
                            <div class="nav__description">{% translate "Profile" %}</div>
                        </a>
                    </div>
                {% else %}
                    <div class="nav__element nav__login">
                        <a href="{% url "login" %}">
                            <div class="nav__icon">
                                <img src="{% static "images/icons/svgs/account_circle_24dp_FILL0_wght400_GRAD0_opsz24.svg" %}" alt="{% translate "Account icon" %}">
                            </div>
                            <div class="nav__description">{% translate "Login" %}</div>
                        </a>
                    </div>
                {% endif %}
            {% endblock nav__account %}

            {% block nav__settings %}
                <div class="nav__element nav__settings {% if user.is_authenticated %}nav__settings--authenticated{% endif %}">
                    <a href="{% url "settings" %}">
                        <div class="nav__icon">
                            <img src="{% static "images/icons/svgs/settings_FILL0_wght400_GRAD0_opsz24.svg" %}" alt="{% translate "Settings" %}">
                        </div>
                        <div class="nav__description">{% translate "Settings" %}</div>
                    </a>
                </div>
            {% endblock nav__settings %}
       </nav>
    {% endblock naviagtion %}
    
    {% block query %}
        <div class="query">
            <div class="query__search">
                <div class="search__search-bar">
                    <form action="">
                        <input type="search" placeholder="{% translate "Search" %}">
                    </form>
                </div>
                <div class="search__btn">
                    <img src="{% static "images/icons/svgs/search_FILL0_wght400_GRAD0_opsz24.svg" %}" alt="Search icon" class="icon--filtered">
                </div>
            </div>
            <div class="query__filters">
                <div class="query__element query__new query__element--active">
                    <div class="element__icon">
                        <img src="{% static "images/icons/svgs/hourglass_top_24dp_FILL0_wght400_GRAD0_opsz24.svg" %}" alt="New icon" class="icon--filtered">
                    </div>
                    <div class="element__description">{% translate "New" %}</div>
                </div>
                <div class="query__element query__trending">
                    <div class="element__icon">
                        <img src="{% static "images/icons/svgs/local_fire_department_24dp_FILL0_wght400_GRAD0_opsz24.svg" %}" alt="Trending icon" class="icon--filtered">
                    </div>
                    <div class="element__description">{% translate "Trending" %}</div>
                </div>
                <div class="query__element query__following">
                    <div class="element__icon">
                        <img src="{% static "images/icons/svgs/person_check_24dp_FILL0_wght400_GRAD0_opsz24.svg" %}" alt="Following icon" class="icon--filtered">
                    </div>
                    <div class="element__description">{% translate "Following" %}</div>
                </div>
            </div>
            
        </div>
    {% endblock query %}


    {% block main %}
       <main>
            <div class="main__nav-reserved-space"></div>
            <div class="main__update">
                <div class="update__genre-selector">
                    <img src="{% static "images/icons/svgs/category_24dp_FILL0_wght400_GRAD0_opsz24.svg" %}" alt="{% translate "Genre icon" %}" class="icon--filtered">
                    <div class="genre-selector__selected-genre">
                        {% translate "All genre" %}
                    </div>
                    <img src="{% static "images/icons/svgs/arrow_drop_down_24dp_FILL0_wght400_GRAD0_opsz24.svg" %}" alt="{% translate "Arrow drop down icon" %}" class="icon--filtered">
                </div>
                <div class="update__chapters">
                    {% for chapter in updated_chapters %}
                        {% if chapter.comic.default_language == LANGUAGE_CODE and chapter.is_valid %}
                            <a href="{{ chapter.get_absolute_url }}" class="update">
                                <div class="update__chapter">
                                    <div class="chapter__comic-cover">
                                        <img loading='lazy' src="{{ chapter.comic.vertical_cover.url }}" alt="Comic cover">
                                    </div>
                                    <div class="chapter__at-glance">
                                        <div class="at-glance__title">
                                            {{ chapter.comic.title }}
                                        </div>
                                        <div class="at-glance__chapter-number">
                                            #{{ chapter.number }}
                                        </div>
                                        <div class="at-glance__authors">
                                            {{ chapter.comic.display_authors }}
                                        </div>
                                        <div class="at-glance__publisher">
                                            <div class="publisher__avatar">
                                                {% if chapter.comic.publisher.avatar %}
                                                <img loading='lazy' src="{{ chapter.comic.publisher.avatar.url }}" alt="Publisher avatar">
                                                {% endif %}
                                            </div>
                                            <div class="publisher__name">
                                                <span>{{ chapter.comic.publisher.name }}</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {% if updated_chapters.has_next and forloop.last %}
                            <span hx-get="{% url 'index' %}?page={{ updated_chapters.next_page_number }}"
                                hx-swap="beforeend" hx-target=".update__chapters" hx-select=".update"
                                hx-trigger="revealed">
                            </span>
                            {% endif %}
                            </a>

                        {% elif chapter.comic.default_language != LANGUAGE_CODE and chapter.chaptertranslation_set.all %}
                            {% for translation in chapter.chaptertranslation_set.all %}
                                {% if translation.comic_translation.language == LANGUAGE_CODE and translation.is_valid %}
                                    <a href="{{ translation.get_absolute_url }}" class="update">
                                        <div class="update__chapter">
                                            <div class="chapter__comic-cover">
                                                <img loading='lazy' src="{{ chapter.comic.vertical_cover.url }}" alt="Comic cover">
                                            </div>
                                            <div class="chapter__at-glance">
                                                <div class="at-glance__title">
                                                    {{ translation.comic_translation.title }}
                                                </div>
                                                <div class="at-glance__chapter-number">
                                                    #{{ chapter.number }}
                                                </div>
                                                <div class="at-glance__authors">
                                                    {{ translation.comic_translation.display_authors }}
                                                </div>
                                                <div class="at-glance__publisher">
                                                    <div class="publisher__avatar">
                                                        {% if translation.chapter.comic.publisher.avatar %}
                                                        <img loading='lazy' src="{{ translation.chapter.comic.publisher.avatar.url }}" alt="Publisher avatar">
                                                        {% endif %}
                                                    </div>
                                                    <div class="publisher__name">
                                                        <span>{{ translation.chapter.comic.publisher.name }}</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    {% if updated_chapters.has_next %}
                                    <span hx-get="{% url 'index' %}?page={{ updated_chapters.next_page_number }}"
                                        hx-swap="beforeend" hx-target=".update__chapters" hx-select=".update"
                                        hx-trigger="revealed">
                                    </span>
                                    {% endif %}
                                    </a>

                                {% endif %}
                            {% endfor %}
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
            <div class="main__query-reserved-space"></div>

        </main>
    {% endblock main %}

    {% block nav_create_dialog %}
        <dialog class="create-dialog">
            <button autofocus class="create-dialog__close-btn">X</button>
            <div class="create-dialog__item create-dialog__post">
                <a href={% url "post-create" %}>{% translate "Post" %}</a>
            </div>
            <div class="create-dialog__item create-dialog__comic">
                <a href="">{% translate "Comic" %}</a>
            </div>

        </dialog>
    {% endblock nav_create_dialog %}
{% endblock content %}
