{% extends "base_generic.html" %}
{% load i18n %}
{% load static %}

{% block stylesheets %}
    <link rel="stylesheet" href="{% static "css/chapter-detail/chapter-detail.css" %}">
{% endblock stylesheets %}
{% block title %}
    <title>#{{ chapter_translation.chapter.number }} - {{ chapter_translation.comic_translation.title }} | Trang tranh</title>
{% endblock title %}
{% block javascripts %}{% endblock javascripts %}
{% block meta %}{% endblock meta %}



{% block content %}
   <div class="interaction previous-page">
        <a href=
            "
            {% if request.META.HTTP_REFERER != request.build_absolute_uri %}
                {{ request.META.HTTP_REFERER }}     
            {% else %}
                {% url "index" %}
            {% endif %}
            "
        >
            <img src="{% static "images/icons/svgs/arrow_back_FILL0_wght400_GRAD0_opsz24.svg" %}" alt="Previous page">
        </a>
    </div>
    <div class="interaction comic-detail">
        <a href="{{ chapter_translation.comic_translation.comic.get_absolute_url }}">
            <img src="{% static "images/icons/svgs/info_FILL0_wght400_GRAD0_opsz24.svg" %}" alt="">
        </a>
    </div>
    <div class="interaction share">
        <img src="{% static "images/icons/svgs/share_FILL0_wght400_GRAD0_opsz24.svg" %}" alt="Share">
    </div>
    <div class="interaction settings">
        <img src="{% static "images/icons/svgs/settings_FILL0_wght400_GRAD0_opsz24.svg" %}" alt="Settings">
    </div>

    <div class="pages pages--vertical">
        {% for page in chapter_translation.sorted_page_set.all %}
            <img src="{{ page.image.url }}" alt="Page image">
        {% endfor %}
    </div>

{% endblock content %}