{% extends "base_generic.html" %}
{% load i18n %}
{% load static %}

{% block stylesheets %}
    {% if LANGUAGE_CODE == 'ja' %}
        <link rel="stylesheet" href="{% static "css/chapter-detail/chapter-detail-jp.css" %}">
    {% else %}
        <link rel="stylesheet" href="{% static "css/chapter-detail/chapter-detail.css" %}">
    {% endif %}
{% endblock stylesheets %}
{% block title %}
    <title>#{{ chapter.number }} - {{ chapter.comic.title }} | Trang tranh</title>
{% endblock title %}
{% block javascripts %}{% endblock javascripts %}
{% block meta %}
    <meta property="og:title" content="#{{ chapter.number }} - {{ chapter.comic.title }} | Trang tranh">
    <meta property="og:type" content="book">
    <meta property="og:url" content="{{ request.build_absolute_uri }}">
    <meta property="og:image" content="{{ chapter.cover.url }}">
{% endblock meta %}

{% block content %}
   <div class="interaction previous-page">
        <a href="javascript:history.go(-1)">
            <img src="{% static "images/icons/svgs/arrow_back_FILL0_wght400_GRAD0_opsz24.svg" %}" alt="Previous page">
        </a>
    </div>
    <div class="interaction comic-detail">
        <a href="{{ chapter.comic.get_absolute_url }}">
            <img src="{% static "images/icons/svgs/lists_24dp_FILL0_wght400_GRAD0_opsz24.svg" %}" alt="">
        </a>
    </div>
    <div class="interaction post-about">
        <img src="{% static "images/icons/svgs/nav/alternate_email_24dp_FILL0_wght400_GRAD0_opsz24.svg" %}" alt="Post icon">
    </div>
    <div class="interaction more">
        <img src="{% static "images/icons/svgs/more_vert_FILL0_wght400_GRAD0_opsz24.svg" %}" alt="More">
    </div>

    <div class="pages pages--vertical">
        {% for page in chapter.sorted_page_set.all %}
            {% if page.webp_image %}
                <img loading="lazy" src="{{ page.webp_image.url }}" alt="Page image">
            {% else %}
                <img loading="lazy" src="{{ page.image.url }}" alt="Page image">
            {% endif %}
        {% endfor %}
    </div>

{% endblock content %}