{% extends "index.html" %}
{% load i18n %}
{% load static %}
{% get_current_language as LANGUAGE_CODE %}

{% block stylesheets %}
    <link rel="stylesheet" href="{% static "css/comic-detail/comic-detail.css" %}">
{% endblock stylesheets %}

{% block main %}
    <main>
        <div class="main__nav-reserved-space"></div>
        <div class="main__content">
            <div class="content__start">
                <div class="start__nav"></div>
                <div class="start__overview">
                    <div class="overview__comic-cover">
                        {% if comic.horizontal_cover %}
                            <img src="{{ comic.horizontal_cover.url }}" alt="Comic cover">
                        {% else %}
                            <img src="{{ comic.vertical_cover.url }}" alt="Comic cover">
                        {% endif %}
                    </div>               
                    <div class="overview__at-glance">
                        <div class="at-glance__comic-title">
                            {{ comic.title }}
                        </div>
                        <div class="at-glance__comic-authors">
                            {{ comic.display_authors }}
                        </div>
                        <div class="at-glance__read-count">
                            {{ comic.read_count }}
                        </div>
                        <div class="at-glance__publisher">
                            <div class="publisher__avatar">
                                <img src="{{ comic.publisher.avatar.url }}" alt="Publisher avatar">
                            </div>
                            <div class="publihser__name">
                                {{ comic.publisher.name }}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="start__more-info">
                    <div class="more-info__header">
                        <h2>{% translate "About" %}</h2>
                    </div>
                    <div class="more-info__summary">
                        <h3>{% translate "Summary" %}</h3>
                        <p>{{ comic.summary }}</p>
                    </div>
                    <div class="more-info__status">
                        <h3>{% translate "Status" %}</h3>
                        <p>{{ comic.get_status_display }}</p>
                    </div>
                    <div class="more-info__schedule">
                        <h3>{% translate "Schedule" %}</h3>
                        <p>{{ comic.get_schedule_display }}</p>
                    </div>
                </div>
            </div>
            <div class="content__end">
                <div class="end__interactions">

                </div>
                <div class="end__chapter-pagination">

                </div>
                <div class="end__chapters">
                    {% for chapter in comic.chapter_set.all %}
                        <a href="{{ chapter.get_absolute_url }}">
                            <div class="chapter__cover">
                                <img src="{{ chapter.cover.url }}" alt="Chapter cover">
                            </div>
                            <div class="chapter__number">
                                {{ chapter.number }}
                            </div>
                            <div class="chapter__title">
                                {{ chapter.title }}
                            </div>
                        </a>
                    {% endfor %}
                </div>

            </div>
        </div>
    </main>
{% endblock main %}

