{% extends "index.html" %}
{% load i18n %}
{% load static %}

{% block title %}
    <title>{% translate "Feed" %} | Trang tranh</title>
{% endblock title %}
{% block stylesheets %}
    <link rel="stylesheet" href="{% static "css/feed/feed.css" %}">
{% endblock stylesheets %}
{% block javascripts %}{% endblock javascripts %}

{% block nav__home %}
    <div class="nav__element nav__home">
        <a href="{% url "index" %}">
            <div class="nav__icon">
                <img src="{% static "images/icons/svgs/nav/home_FILL0_wght400_GRAD0_opsz24.svg" %}" alt="Home">
            </div>
            <div class="nav__description">{% translate "Home" %}</div>
        </a>
    </div>
{% endblock nav__home %}

{% block nav__feed %}
    <div class="nav__element nav__feed nav__element--active">
        <a href="{% url "feed" %}">
            <div class="nav__icon">
                <img src="{% static "images/icons/svgs/nav/alternate_email_24dp_FILL0_wght400_GRAD0_opsz24.svg" %}" alt="Feed">
            </div>
            <div class="nav__description">{% translate "Feed" %}</div>
        </a>
    </div>
{% endblock nav__feed %}

{% block main %}
    <main>
        <div class="main__posts">
            {% for post in new_posts %}
                <div class="post">
                    <div class="post__header">
                        <div class="header__warper">
                            <div class="warper__user">
                                <div class="user__avatar">
                                    <a href="{{ post.user_profile.get_absolute_url }}">
                                        <img src="{{ post.user_profile.avatar.url }}" alt="User avatar">
                                    </a>
                                </div>
                                <div class="user__name">
                                    <a href="{{ post.user_profile.get_absolute_url }}">
                                        <span>{{ post.user_profile.name }}</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% if post.reply_to %}
                        <div class="post__reply-to">
                            <div class="reply-to__warper">
                                {% translate "Repplying to" %} 
                                <a href="{{ post.reply_to.get_absolute_url }}">
                                    {{ post.reply_to.user_profile.name }}
                                </a>
                            </div>
                        </div>
                    {% endif %}
                    <div class="post__content post__content--{{ post.writing_mode }}">
                        <div class="content__text">
                            <pre>{{ post.text_content }}</pre>
                        </div>

                        {% if post.postmedia_set.all %}
                            <div class="content__media content__media--{{ post.writing_mode }}">
                                {% for media in post.postmedia_set.all %}
                                    <img src="{{ media.image.url }}" alt="{{ media.alt_text }}">
                                {% endfor %}
                            </div>
                        {% endif %}
                    </div>
                    <div class="post__interactions">
                        <div class="interactions__warper">
                            <div class="warper__interaction warper__like">
                                <img src="{% static "images/icons/svgs/favorite_FILL0_wght400_GRAD0_opsz24.svg" %}" alt="Favorite icon" class="gray--filtered">
                                <div class="like__count">
                                    {{ post.like }}
                                </div>
                            </div>
                            <a href="{{ post.get_absolute_url }}">
                                <div class="warper__interaction warper__reply">
                                    <img src="{% static "images/icons/svgs/reply_24dp_FILL0_wght400_GRAD0_opsz24.svg" %}" alt="Reply icon" class="gray--filtered">
                                    <div class="reply__count">
                                        {{ post.post_set.all.count }}
                                    </div>
                                </div>
                            </a>
                            <div class="warper__interaction warper__share">
                                <img src="{% static "images/icons/svgs/share_FILL0_wght400_GRAD0_opsz24.svg" %}" alt="Share icon" class="gray--filtered">
                            </div>
 
                        </div>
                   </div>
                </div>
            {% empty %}
            {% endfor %}
        </div>
        <div class="query">
            <div class="query__search">
                <div class="search__search-bar">
                    <form action="">
                        <input type="search">
                    </form>
                </div>
                <div class="search__btn">
                    <img src="{% static "images/icons/svgs/search_FILL0_wght400_GRAD0_opsz24.svg" %}" alt="Search icon" class="icon--filtered">
                </div>
            </div>
            <div class="query__element query__to-you query__element--active">
                <div class="element__icon">
                    <img src="{% static "images/icons/svgs/recommend_FILL1_wght400_GRAD0_opsz24.svg" %}" alt="Recommend icon" class="icon--filtered">
                </div>
                <div class="element__description">{% translate "To you" %}</div>
            </div>
            <div class="query__element query__trending">
                <div class="element__icon">
                    <img src="{% static "images/icons/svgs/local_fire_department_24dp_FILL0_wght400_GRAD0_opsz24.svg" %}" alt="Trending icon" class="icon--filtered">
                </div>
                <div class="element__description">{% translate "Trending" %}</div>
            </div>
            <div class="query__element query__following">
                <div class="element__icon">
                    <img src="{% static "images/icons/svgs/person_check_24dp_FILL0_wght400_GRAD0_opsz24.svg" %}" alt="Following icon" class="icon--filtered">
                </div>
                <div class="element__description">{% translate "Following" %}</div>
            </div>
        </div>
    </main>

{% endblock main %}