{% extends "index.html" %}
{% load i18n %}
{% load static %}

{% block title %}
    <title>{{ post.user_profile.name }}{% translate " on" %} Trang tranh</title>
{% endblock title %}

{% block stylesheets %}
    {% if LANGUAGE_CODE == 'ja' %}
        <link rel="stylesheet" href="{% static "css/post-detail/post-detail-jp.css" %}">
    {% else %}
        <link rel="stylesheet" href="{% static "css/post-detail/post-detail.css" %}">
    {% endif %}
{% endblock stylesheets %}

{% block nav__start %}
    <div class="nav__element nav__back">
        <a href="javascript:history.go(-1)">
            <div class="nav__icon">
                <img src="{% static "images/icons/svgs/arrow_back_FILL0_wght400_GRAD0_opsz24.svg" %}" alt="Back icon">
            </div>
            <div class="nav__description">{% translate "Back" %}</div>
        </a>
    </div>
{% endblock nav__start %}

{% block nav__home %}
    <div class="nav__element nav__home">
        <a href="{% url "index" %}">
            <div class="nav__icon">
                <img src="{% static "images/icons/svgs/nav/home_FILL0_wght400_GRAD0_opsz24.svg" %}" alt="Home">
            </div>
            <div class="nav__description">{% translate "Home" %}</div>
        </a>
    </div>
{% endblock nav__home %}



{% block main %}
    <main>
        <div class="main__nav"></div>
        <div class="main__post">
            <div class="post__header">
                <div class="header__warper">
                    <div class="warper__user">
                        <div class="user__avatar">
                            <a href="{{ post.user_profile.get_absolute_url }}">
                                <img loading="lazy" src="{{ post.user_profile.avatar.url }}" alt="User avatar">
                            </a>
                        </div>
                        <div class="user__name">
                            <a href="{{ post.user_profile.get_absolute_url }}">
                                <span>{{ post.user_profile.name }}</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            {% if post.reply_to %}
                <div class="post__reply-to">
                    <div class="reply-to__warper">
                        {% translate "Replying to" %}
                        <a href="{{ post.reply_to.get_absolute_url }}">
                            {{ post.reply_to.user_profile.name }}
                        </a>
                    </div>
                </div>
            {% endif %}
            <div class="post__content post__content--{{ post.writing_mode }}">
                <div class="content__text">
                    <pre>{{ post.text_content }}</pre>
                </div>

                {% if post.postmedia_set.all %}
                    <div class="content__media content__media--{{ post.writing_mode }}">
                        {% for media in post.postmedia_set.all %}
                            {% if media.webp_image %}
                                <img loading="lazy" src="{{ media.webp_image.url }}" alt="{{ media.alt_text }}">
                            {% else %}
                                <img loading="lazy" src="{{ media.image.url }}" alt="{{ media.alt_text }}">
                            {% endif %}
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
            <div class="post__interactions">
                <div class="interactions__warper"></div>
            </div>
        </div>
        {% if post.post_set.all %}
            <div class="main__replies">
                {% for reply in new_replies %}
                <div class="reply__post">
                    <div class="post__header">
                        <div class="header__warper">
                            <div class="warper__user">
                                <div class="user__avatar">
                                    <a href="{{ reply.user_profile.get_absolute_url }}">
                                        <img loading="lazy" src="{{ reply.user_profile.avatar.url }}" alt="User avatar">
                                    </a>
                                </div>
                                <div class="user__name">
                                    <a href="{{ reply.user_profile.get_absolute_url }}">
                                        <span>{{ reply.user_profile.name }}</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="post__content post__content--{{ reply.writing_mode }}">
                        <div class="content__text">
                            <pre>{{ reply.text_content }}</pre>
                        </div>

                        {% if reply.postmedia_set.all %}
                            <div class="content__media content__media--{{ reply.writing_mode }}">
                                {% for media in reply.postmedia_set.all %}
                                    {% if media.webp_image %}
                                        <img loading="lazy" src="{{ media.webp_image.url }}" alt="{{ media.alt_text }}">
                                    {% else %}
                                        <img loading="lazy" src="{{ media.image.url }}" alt="{{ media.alt_text }}">
                                    {% endif %}
                                {% endfor %}
                            </div>
                        {% endif %}
                    </div>
                    <div class="post__interactions">
                        <div class="interactions__warper">
                            <div class="warper__interaction warper__like">
                                <img src="{% static "images/icons/svgs/favorite_FILL0_wght400_GRAD0_opsz24.svg" %}" alt="Favorite icon" class="gray--filtered">
                                <div class="like__count">
                                    {{ reply.like }}
                                </div>
                            </div>
                            <a href="{{ reply.get_absolute_url }}">
                                <div class="warper__interaction warper__reply">
                                    <img src="{% static "images/icons/svgs/reply_24dp_FILL0_wght400_GRAD0_opsz24.svg" %}" alt="Reply icon" class="gray--filtered">
                                    <div class="reply__count">
                                        {{ reply.post_set.all.count }}
                                    </div>
                                </div>
                            </a>
                            <div class="warper__interaction warper__share">
                                <img src="{% static "images/icons/svgs/share_FILL0_wght400_GRAD0_opsz24.svg" %}" alt="Share icon" class="gray--filtered">
                            </div>
                        </div>
                    </div>
                    {% if new_replies.has_next and forloop.last %}
                        <div hx-get="{{ post.get_absolute_url }}?page={{ new_replies.next_page_number }}"
                            hx-swap="beforeend" hx-target=".main__replies" hx-select=".reply__post"
                            hx-trigger="revealed" style="block-size: 1px">
                        </div>
                    {% endif %}
                </div>
                {% endfor %}
            </div>
        {% else %}
            <div class="main__replies"></div>
        {% endif %}

        
    </main>
    
{% endblock main %}


{% block query %}
    <div class="main__post-interactions">
        <div class="post-interaction post-interaction__post-like">
            <img src="{% static "images/icons/svgs/favorite_FILL0_wght400_GRAD0_opsz24.svg" %}" alt="Favorite icon" class="gray--filtered">
            <div class="post-interaction__description">
                {{ post.like }}
            </div>
        </div>
        <div class="post-interaction post-interaction__post-reply">
            <img src="{% static "images/icons/svgs/reply_24dp_FILL0_wght400_GRAD0_opsz24.svg" %}" alt="Reply icon" class="gray--filtered">
            <div class="post-interaction__description">
                {{ post.post_set.all.count }}
            </div>
        </div>
        <div class="post-interaction post-interaction__share-post">
            <img src="{% static "images/icons/svgs/share_FILL0_wght400_GRAD0_opsz24.svg" %}" alt="Share icon" class="gray--filtered">
            <div class="post-interaction__description">
                {% translate "Share" %}
            </div>
        </div>
    </div>
{% endblock query %}
