{% extends "index.html" %}
{% load static %}
{% load i18n %}

{% block title %}{% endblock title %}
{% block stylesheets %}{% endblock stylesheets %}
{% block javascripts %}{% endblock javascripts %}

{% block nav__start %}
    <div class="nav__element nav__back">
        <a href="javascript:history.go(-1)">
            <div class="nav__icon">
                <img src="{% static "images/icons/svgs/arrow_back_FILL0_wght400_GRAD0_opsz24.svg" %}" alt="Back icon">
            </div>
            <div class="nav__description">{% translate "Back" %}</div>
        </a>
    </div>
{% endblock nav__start %}

{% block nav__home %}
    <div class="nav__element nav__home">
        <a href="{% url "index" %}">
            <div class="nav__icon">
                <img src="{% static "images/icons/svgs/nav/home_FILL0_wght400_GRAD0_opsz24.svg" %}" alt="Home">
            </div>
            <div class="nav__description">{% translate "Home" %}</div>
        </a>
    </div>
{% endblock nav__home %}

