/* general */
* {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  box-sizing: border-box;
}


:root {
  --primary-color: #FFB7C5;
  --background-color: white;
  --text-color: black;
  --gray-like-color: rgb(229, 229, 229);
  --strong-gray-color: gray;
  --icon-filter: invert(0%) sepia(8%) saturate(7491%) hue-rotate(179deg) brightness(100%) contrast(100%);
  --primary-color-filter: invert(71%) sepia(20%) saturate(1192%) hue-rotate(307deg) brightness(120%) contrast(102%);
  --hover-color: rgb(222, 222, 222);
  --gray-filter: invert(47%) sepia(0%) saturate(1%) hue-rotate(171deg) brightness(106%) contrast(88%);

  @media (prefers-color-scheme: dark) {
    --background-color: black;
    --text-color: white;
    --gray-like-color: rgb(39, 39, 39);
    --icon-filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(192deg) brightness(107%) contrast(103%);
    --hover-color: rgb(72, 72, 72);
  }
}

h1,
h2,
h3,
h4,
h6 {
  margin: 4px;
}

body {
  margin: 0px;
  background-color: var(--background-color);
  color: var(--text-color);
}

.cherry-bomb-one-regular {
  font-family: "Cherry Bomb One", system-ui;
  font-weight: 400;
  font-style: normal;
  color: var(--primary-color);
}

.icon--filtered {
  filter: var(--icon-filter);
}

main {
  position: static;
  display: flex;
  flex-direction: row;
}

nav {
  position: fixed;
  background-color: var(--background-color);
}

.nav__logo img {
  inline-size: 36px;
}

.nav__element img {
  filter: var(--icon-filter);
}

.logo__brand-name {
  font-size: 24px;
}

a:link,
a {
  text-decoration: none;
  color: var(--text-color);
}

/* site specific */

.start__overview {
  display: flex;
  flex-direction: column;
  aspect-ratio: 1 / 1;
}

.overview__comic-cover {
  flex: 1;
  display: flex;
  justify-items: center;
  align-items: center;
}

.overview__comic-cover img {
  inline-size: 100%;
  border-radius: 8px;
  aspect-ratio: 2 / 1;
  object-fit: cover;
}

.overview__at-glance {
  flex: 1;
  display: grid;
  grid-template-rows: 1fr 1fr;
  aspect-ratio: 2 / 1;
}

.at-glance__first {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: baseline;
  gap: 12px;
}

.first__comic-title h1 {
  font-size: 24px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.first__comic-authors span {
  text-overflow: ellipsis;
  overflow: hidden;
}

.at-glance__last {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-self: flex-start;
  align-items: center;
  gap: 12px;
}

.at-glance__last .last__publisher {
  display: grid;
  grid-template-columns: 52px 1fr;
  align-items: center;
  gap: 12px;
}

.at-glance__last .last__read-count {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 12px;
}

.publisher__avatar img {
  inline-size: 100%;
  aspect-ratio: 1 / 1;
  border-radius: 50%;
}

.more-info p,
.more-info .genre-list {
  padding: 12px;
  color: var(--strong-gray-color);
}

.more-info__header {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 12px
}

.genre-list__genre {
  background-color: var(--gray-like-color);
  padding: 8px;
  border-radius: 4px;
}

.content__start,
.content__end {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.content__start {
  padding: 12px;
}


.end__interactions {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 12px;
  background-color: var(--background-color);
  padding: 12px;
}

.interaction {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  border-radius: 8px;
}

.interaction img {
  filter: var(--gray-filter);
}




.end__chapters {
  display: flex;
  padding: 12px;
  flex-direction: column;
  gap: 12px;
}

.chapter {
  display: grid;
  grid-template-columns: 80px 1fr;
  gap: 12px;
  padding: 8px;
  border-radius: 8px;
}



.chapter__cover img {
  object-fit: cover;
  border-radius: 4px;
  inline-size: 100%;
  aspect-ratio: 1 / 1;
}


@media (orientation: landscape) {

  main {
    inline-size: 100%;
    block-size: 100%;
    display: grid;
    grid-template-columns: 280px 1fr;

    @media (max-width: 1400px) {
      grid-template-columns: 80px 1fr;
    }
  }

  nav {
    inline-size: 280px;
    block-size: 100vh;
    border-inline-end-color: var(--gray-like-color);
    border-inline-end-style: solid;
    border-inline-end-width: 1px;
    padding: 12px;
    display: flex;
    flex-direction: column;
    gap: 32px;

    @media (max-width: 1400px) {
      inline-size: 80px;
      align-items: center;
    }
  }

  .nav__logo {
    padding: 12px;
  }

  .nav__logo a {
    display: flex;
    align-items: center;
    gap: 12px;
  }

  .nav__element a {
    display: flex;
    align-items: center;
    gap: 12px;
    block-size: fit-content;
  }

  .nav__element {
    border-radius: 8px;
    padding: 12px;
  }

  .nav__icon img {
    inline-size: 28px;
  }




  .nav__element--active {
    background-color: var(--gray-like-color);
  }

  @media (max-width: 1400px) {

    .nav__description,
    .logo__brand-name {
      display: none;
    }
  }



  /* site specific */

  .main__content {
    gap: 12px;
    justify-content: center;
    display: grid;
    grid-template-columns: minmax(600px, 600px) minmax(200px, 600px);
    padding: 20px;
  }

  .end__interactions {
    border-block-end-color: var(--gray-like-color);
    border-block-end-style: solid;
    border-block-end-width: 1px;
    position: sticky;
    top: 0px;
  }


}

@media (orientation: portrait) {
  main {
    inline-size: 100%;
    padding-block: 50px;
  }

  nav {
    inline-size: 100%;
    block-size: 50px;
    display: flex;
    align-items: center;
    background-color: var(--background-color);
    flex-direction: row;
    border-block-end-width: 1px;
    border-block-end-color: var(--gray-like-color);
    border-block-end-style: solid;
  }

  .nav__element {
    padding: 12px;
    border-radius: 8px;
  }

  .nav__description {
    display: none;
  }

  .nav__logo {
    display: none;
  }

  .nav__home,
  .nav__feed,
  .nav__notifications,
  .nav__account,
  .nav__login,
  .nav__settings,
  .nav__account--avatar-holder {
    display: none;
  }

  .start__more-info {
    display: none;
  }

  .end__interactions {
    position: fixed;
    bottom: 0px;
    inline-size: 100%;
    border-block-start-color: var(--gray-like-color);
    border-block-start-width: 1px;
    border-block-start-style: solid;
    block-size: 50px;
  }


}

@media (pointer: fine) {

  .nav__element:hover {
    background-color: var(--hover-color);
  }

  .interaction img:hover {
    filter: var(--icon-filter);
  }

  .chapter:hover {
    background-color: var(--hover-color);
  }
  .genre-list__genre:hover {
    background-color: var(--hover-color);
  }
}